*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul, ol, li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}

html, body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: #252B42;
    background: #FAFAFA;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;          
    flex-direction: column;
}


/*--------------------------------------------------------------------------*/

._conteiner{
    max-width: 1046px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*----------------------------------------ШАПКА---------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media(max-width: 479px){
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}
.header__menu {
    margin: 0 0 0 133px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media(max-width: 767px){
    .header__menu {
        margin: 0 0 0 40px;
    }
}

@media(max-width: 479px){
    .header__menu {
        margin: 0 0 0 20px;
    }
}

.menu {
    padding: 5px 0; 
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item:not(:last-child) {
margin: 0 21px 0 0;
}
.menu__link {
    line-height: 171%;
    font-weight: 600;
    color: #737373;
}
@media(max-width: 479px){
    .menu__link {
       font-size: 18px;  
    }
}




/*---------------page------------------------------------------------------------------*/
.page{
    flex: 1 1 auto; 
}

.page__main-block {
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0; 
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients:not(:last-child) {
    margin: 0 0 10px 0;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/*---------------HEADER-BLOCK------------------------------------------------------------------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    line-height: 142%;
    font-size: 40px;
    font-weight: 700;
}
.header-block__title:not(:last-child){
    margin: 0 0 10px 0;
}
.header-block__sub-title {
    line-height: 142%;
    color: #737373;
}

@media(max-width: 992px){
    .header-block__title {
        font-size: 35px;
    }
}

@media(max-width: 767px){
    .header-block__title {
        font-size: 30px;
    }
}
/*---------------FOOTER------------------------------------------------------------------*/
.footer{

}

/*---------------MAIN BLOCK------------------------------------------------------------------*/

.main-block {
    position: relative;
}
.main-block__conteiner {
}

.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2; 
    max-width: 400px;
}

@media (max-width: 992px) {
    .main-block__body{
        padding: 120px 0 191px 0;
    }
}
@media (max-width: 479px) {
    .main-block__body{
        padding: 115px 0 160px 0;
    }
}
.main-block__body > *:not(:last-child){
    margin: 0 0 35px 0;
}

.main-block__title {
    font-size: 58px;
    line-height: 137%; 
    font-weight: 800;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__title{
        font-size: 42px;
    }
}

.main-block__text {
    font-size: 20px;
    line-height: 150%; 
    color: #737373;
}

@media (max-width: 479px) {
    .main-block__text{
        color: #414141;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}


.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    padding: 5px 36px; 

    margin: 10px 0;  

}

@media (max-width: 479px){
    .main-block__button{
        flex: 1 1 auto;
    }
}

.main-block__button:not(:last-child){
    margin-right: 10px;
}

.main-block__button_orange{
    color: #FFFFFF;
    background: #FF7B47;
}
.main-block__button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}


.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1999px) {
    .main-block__image img{
        object-position: right;  
    }
}

@media (max-width: 940px) {
    .main-block__image{
        opacity: 0.5;
    }
}



/*---------------SERVICES------------------------------------------------------------------*/


.services {
}
.services__container {
}
.services__body {}

@media (min-width: 670px){
.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
}

.services__column {
    flex: 0 1 33.333%;
}

@media (min-width: 670px){
    .services__column {
        padding: 0 15px;
    }
}


@media (max-width: 992px){
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:not(:last-child){
    margin: 0 0 30px 0;
    }
    .services__column:last-child{
        flex: 1 1 100%;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    padding: 35px;
}
.item-service {
}

.item-service_green{
    background-color: #0D5C63;
}

.item-service_green .item-service__title{
    color: #FFFFFF;
}

.item-service_green .item-service__text{
    color: #FFFFFF;
}

.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-service__icon {
}
.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}
.item-service__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}



/*------------ADVENTAGES-------------------------------------------------------------------------------*/



.advantages {
    padding: 80px 0;
}

@media (max-width: 992px){
    .advantages {
        padding: 50px 0;
    }
}

@media (max-width: 767px){
    .advantages {
        padding: 30px 0;
    }
}


.advantages__container {
}

.advantages__header {
    margin: 0 0 50px 0;
}
@media (max-width: 767px){
    .advantages__header {
        margin: 0 0 25px 0;
    }
}
.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages__column {
    flex: 0 1 25%;
    padding: 0 15px;
    margin: 0 0 30px 0;
}

@media (max-width: 1074px){
    .advantages__column {
    flex: 0 1 50%;
    }
}

@media (max-width: 560px){
    .advantages__column {
    flex: 0 1 100%;
    }
}

.advantages__item {
    background: #FFFFFF;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}
.advantages__item > *:not(:last-child){
 margin: 0 0 10px 0;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: 142%;
}
.advantages__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
}

/*------------PRACTICE-------------------------------------------------------------------------------*/

.practice {
    padding: 125px 0 80px 0;
}
@media (max-width: 993px){
    .practice {
        padding: 40px 0 80px 0;
    }
}
@media (max-width: 767px){
    .practice {
        padding: 0 0 40px 0;
    }
}
.practice__container {
}

.practice__header {
    margin: 0 0 45px 0;
}
@media (max-width: 767px){
    .practice__header {
        margin: 0 0 25px 0;
    }
}
.practice__body {
    margin: 0 -20px -30px 0; 
    display: flex;
    flex-wrap: wrap;
}

.practice__column {
    padding: 0 20px;
    flex: 0 1 25%;
    margin: 0 0 30px 0;
}

@media (max-width: 1040px){
    .practice__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 630px){
    .practice__column {
        flex: 0 1 100%;
    }
}
.practice__item {
    
}
.item-practice{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-practice__content{
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link{
    color: inherit;
    display: inline-block;
}

.item-practice__link:hover{
    text-decoration: underline;
}
.item-practice__link:not(:last-child){
    margin: 0 0 15px 0;
}
.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.item-practice__text {
    color: #737373;
    line-height: 142%;

}
.item-practice__image {
    display: block;
    padding: 0 0 60% 0; 
}


/*------------WHOWEARE-------------------------------------------------------------------------------*/

.whoweare {
    background-color: #FFFFFF;
    padding: 80px 0 130px 0;
}

.whoweare__container {
}
.whoweare__header {
    margin: 0 0 100px 0;
}

.whoweare__body {
    display: flex;
   align-items: flex-start;

}
 

.whoweare__video {
    flex: 0 0 57%; 
    position: relative;
    padding: 0 0 42.25% 0; 
}
.whoweare__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
    margin: 0 0 10px 0; 
}

.whoweare__text {
    line-height: 143%;
    color: #737373;
}
.whoweare__items {
    margin: 50px 0 0 0;
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
    margin: 0 0 30px 0;
}
.item-whoweare {
    display: flex;
  
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-whoweare__title:not(:last-child){
    margin: 0 0 5px 0;
}
.item-whoweare__text {
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
}
@media (max-width: 1080px){
    .whoweare__content {
        padding: 0 0 0 50px;
    }
    
}
@media (max-width: 950px){
    .whoweare {
        padding: 50px 0 50px 0;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;   
    }


    .whoweare__header {
        margin: 0 0 30px 0;
    }
    .whoweare__title {
        font-size: 24px;
    }
    .whoweare__content {
        padding: 0 0 0 0;
    }
    .whoweare__video{
    padding: 0 0 56.25% 0;
    }
    .whoweare__video:not(:last-child) {
        margin: 50px 0 0 0;
    }
}

@media (max-width: 767px){
    .whoweare {
        padding: 20px 0 50px 0;
    }
    .whoweare__video:not(:last-child) {
        margin: 50px 0 0 0;
    }
}



/*------------CLIENTS-------------------------------------------------------------------------------*/

.clients {
    padding: 58px 0;
}
.clients__container {
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px; 
}

.clients__item img{
    max-width: 100%;
}
@media (max-width: 767px){
    .clients {
        padding: 30px 0;
    }
}
/*------------ SUBSCRIDE-------------------------------------------------------------------------------*/


.subscribe{
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: #252B42;
}
.subscribe__container {
}
._container {
}
.subscribe__body {
    position: relative;
    z-index: 2;
    margin: 0 30px;
    padding: 30px 50px;
    align-items: center;
    background-color: #17213C;
    border-radius: 2px;
}
.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0 20px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    background: #F9F9F9;
    color: #737373;
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

.subscribe__input:focus {
    color: black;
}

.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    min-height: 58px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 22px;
    display: flex;
    justify-content: center;

}

@media (min-width: 1070px){
    .subscribe__body {
        margin: 0 30px;
    }
}

@media (min-width: 810px){
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
    .subscribe__title {
        max-width: 366px;
    }
}
@media (max-width: 810px){
    .subscribe__title {
        margin: 0 0 20px 0;
    }
    .subscribe__body {
        margin: 0 -15px; 
        padding: 20px 25px;
    }
}


/*------------ GETINTOUCH-------------------------------------------------------------------------------*/

.getintouch{

}

.getintouch__container {
    padding: 80px 0 136px 0;
}

.getintouch__header {
    margin: 0 0 80px 0;
}
.getintouch__items {
    margin: 0 -15px;
}
@media (min-width: 992px){
.getintouch__items {
    display: flex;
    align-items: center;
    margin: 0;
}
}
@media (max-width: 992px){
    .getintouch__header {
        margin: 0 0 50px 0;
    }
    .getintouch__container {
        padding: 80px 0 0 0;
    }
}
@media (max-width: 992px){
    .getintouch__header {
        margin: 0 0 30px 0;
    }
}
.getintouch__item {
    flex: 0 1 33.333%;

}
.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 50px 15px;
}
.item-getintouch_active{
    background-color: #252B42;
    color: #FFFFFF;
    padding: 80px 15px;
}
@media (max-width: 992px){
    .item-getintouch_active{
        padding: 50px 15px;
    }
    }

.item-getintouch_active .item-getintouch__button{
    border: 1px solid white;
    color: #FFFFFF;
}

.item-getintouch >*:not(:last-child) {
    margin: 0 0 15px 0;
}

.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}
.item-getintouch__email:hover {
    text-decoration: underline;
}
.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252B42;
}
.item-getintouch__button {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    min-height: 44px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FF7B47;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover{
    background: #FF7B47;
    border: 1px solid #FF7B47;
    color: white;
}

.item-getintouch_active .item-getintouch__label{
    color: #FFFFFF;
}

/*------------ CONTACT-------------------------------------------------------------------------------*/


.contact {
    padding: 40px 5px;
    background-color: #FFFFFF;
}
.contact__container {
    
}


@media (min-width: 767px){
    .contact__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact__content{
        padding: 0 0 20px 0;
    }
}
.contact__content{
    padding: 0 20px 0 0;
}
.contact__content:not(:last-child) {
    margin: 0 0 10px 0;
}
.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #252B42;
}
.contact__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #737373;
}
.contact__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
    background: #FF7B47;
    border-radius: 5px;
    padding: 5px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58px;
    transition: all 0.3s ease 0s;
}
.contact__button:hover{
    background: #b05633;

}

/*------------ FOOTER-------------------------------------------------------------------------------*/

.footer {
}


.footer__top {
    padding: 50px 0;
    background-color: #17213C;
}
.footer__main {
    
}
.footer__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.footer__column {

    flex: 0 1 20%;

}
.footer__label {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin:  0 0 20px 0;
}
.footer__menu {
}



.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}
.menu-footer__link {
    color: #FFFFFF;
    letter-spacing: 0.2px;
    line-height: 171%;
    display: inline-block;
}
.menu-footer__link:hover{
    text-decoration: underline;
}


.footer__contacts {

}
.contacts-footer {
    display: flex;
    flex-direction: column;
}
.contacts-footer__item{
    padding: 0 0 0 25px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #FFFFFF;
    line-height: 142%;
}
.contacts-footer__item:hover{
    text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
    margin: 0 0 12px 0;
}
.contacts-footer__item_phone {
    background: url(../img/footer/01.png) 0 0 no-repeat;
}
.contacts-footer__item_map {
    background: url(../img/footer/02.png) 0 0 no-repeat;
}
.contacts-footer__item_email {
    background: url(../img/footer/03.png) 0 0 no-repeat;
}
